body{
  display: flex;
  background: #3f4b6a;
  justify-content: center;
  align-items: center;
  flex: auto;
}
.text{
  font-family: 'IBM Plex Mono', monospace;
  padding: 5px;
  margin: 3px;
}

.chat-layout{
  padding-top: 150px;
  height: 700px;
  max-width: 500px;
  display: flex;
  flex-flow: column;
  font-family: 'IBM Plex Mono', monospace;

  &__messages{
    display:flex;
    flex-flow:column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow:1;
    flex-basis: auto;
    background: #ffffff;
    height: 500px;
    overflow: auto;

    &__message-to, &__message-from {
      margin: 10px;
      padding: 5px;
      width: 45%;
    }

    &__message-from{
      background: #c3e6ff;
    }

    &__message-to{
      align-self:flex-end;
      background: #94d2ff;
      }
  }

  &__client-wrapper {
    height: 100px;
    max-width: 500px;
    margin-top: 30px;

    &__input-wrapper{
      display: flex;
      &__message-wrapper{
        height:50px;
        flex: 4 2 0;
      }
      &__send{
        height: 50px;
        background: #313038;
        text-transform: uppercase;
        color: #9ede93;
        border: none;
        user-select: none;
        cursor: pointer;
        flex: 1 1 0;
      }
    }

    &__ip{
      background: #3f4b6a;
      text-transform: lowercase;
      color: #8ca3d1;
      margin: 5px;
    }
  }
}
