body{
  background: #3f4b6a;
}
.text{
  font-family: 'IBM Plex Mono', monospace;
  padding: 5px;
  margin: 3px;
}

.chat-layout{
  margin: auto;
  padding-top: 150px;
  height: 700px;
  width: 500px;
  max-width: 60%;
  display:flex;
  flex-flow:column wrap;

  &__messages{
    display:flex;
    flex-flow:column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow:1;
    flex-basis: auto;
    background: #ffffff;
    height: 400px;


    &__message-to, &__message-from {
      margin: 10px;
      padding: 5px;
      width: 45%;
    }

    &__message-from{
      background: #c3e6ff;
    }

    &__message-to{
      align-self:flex-end;
      background: #94d2ff;
      }



    &__username{
      font-family: 'IBM Plex Mono', monospace;
    }
  }

  &__input-wrapper{
    font-family: 'IBM Plex Mono', monospace;
    height:100px;
    width:500px;
    max-width: 100%;
    margin-top: 30px;

    &__message-wrapper{
      align-self:stretch;
      height:50px;
      max-width:400px;
      min-width: 80%;
    }

    &__ip{
      background: #3f4b6a;
      text-transform: lowercase;
      color: #8ca3d1;
      margin: 5px;
    }

    &__send{
      height: 50px;
      max-width: 100px;
      min-width: 20%;
      background: #313038;
      text-transform: uppercase;
      color: #9ede93;
      border: none;
      user-select: none;
    }
  }
}
